# Assignment 2

### 1.Given a list, write a Python program to swap first and last element of the list.

In [50]:
Sports = ["Badminton","Hockey","Cricket","Racing","Football","Basketball"]

print(f'Original Sports List:{Sports}')

Saved_sport = Sports[0]
Sports[0] = Sports[-1]
Sports[-1] = Saved_sport

print(f"Modified Sports LIst: {Sports}")

Original Sports List:['Badminton', 'Hockey', 'Cricket', 'Racing', 'Football', 'Basketball']
Modified Sports LIst: ['Basketball', 'Hockey', 'Cricket', 'Racing', 'Football', 'Badminton']

### 2. Append
 - Create an empty list named my_list.
 - Append the integers 1, 2, and 3 to the list.
 - Print the final contents of the list.

In [51]:
my_list = []
my_list.extend([1,2,3])
print(my_list)

[1, 2, 3]

### 3. Given the list numbers = [4, 2, 7, 1, 9], use a list function to sort it in decending order. Print the sorted list.

In [52]:
numbers = [4, 2, 7, 1, 9]

numbers.sort(reverse=True)
print(numbers)

[9, 7, 4, 2, 1]

### 4. Create a list named fruits with elements 'apple', 'banana', 'orange', 'grape', and 'kiwi'.Use list slicing to create a new list containing the first three fruits.Print the new list.

In [53]:
fruits=['apple', 'banana', 'orange', 'grape', 'kiwi']
print(fruits[0:3])

['apple', 'banana', 'orange']

### 5. Create a list named colors with elements 'red', 'green', 'blue', and 'yellow'.Replace 'green' with 'purple' in the list.Print the modified list.

In [54]:
colours = ['red', 'green', 'blue','yellow']

colours[1]='purple'
print(colours)

['red', 'purple', 'blue', 'yellow']

### 6. Create two lists, list1 and list2, with any elements of your choice. Concatenate the two lists to create a new list named combined_list. Print the combined_list.

In [55]:
list1 = ["Badminton","Hockey","Cricket","Racing","Football","Basketball"]
list2 = ['apple', 'banana', 'orange', 'grape', 'kiwi']

combined_list= list1 + list2

print(f"The Modified list :-\n {combined_list}")

The Modified list :-
 ['Badminton', 'Hockey', 'Cricket', 'Racing', 'Football', 'Basketball', 'apple', 'banana', 'orange', 'grape', 'kiwi']

### 7. Given the list numbers = [10, 20, 30, 40, 50], remove the element '30'.Print the modified list.

In [56]:
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

### 8. Given the list letters = ['a', 'b', 'c', 'd', 'e'], reverse the order of its elements.Print the reversed list.

In [57]:
letters = ['a', 'b', 'c', 'd', 'e']

print(letters[::-1])

['e', 'd', 'c', 'b', 'a']

### 9. Create a list named numbers with repeated occurrences of the number 7.Check how many times the number 7 appears in the list. Print the count.

In [58]:
numbers = [1,2,7,3,8,7,5,9,7,4,12,7]
print(numbers.count(7))

4

### 10. Write a Python program to find sum of elements in list?

In [59]:
sum(numbers)

72

### 11.	Write a Python program to Multiply all numbers in the list?

In [60]:
numbers = [1,2,7,3,8,7,5,9,7,4,12,7]
mn=1
i=0
while i < len(numbers):
    mn *= numbers[i]
    i+=1
    
print(mn)

248935680

### 12.	Write a Python program to find smallest number in a list?

In [61]:
min(numbers)

1

### 13.	Write a Python program to find largest number in a list?

In [62]:
max(numbers)

12

### 14.	Write a Python program to find second largest number in a list?

In [63]:
numbers = [1,2,7,3,8,7,5,9,7,4,12,7]
numbers.sort()
sl=numbers[-2]
print(sl)

9

### 15.	Write a Python program to find N largest elements from a list?

In [64]:
numbers.sort(reverse=True)
print(numbers)

[12, 9, 8, 7, 7, 7, 7, 5, 4, 3, 2, 1]

### 16.	Write a Python program to print even numbers in a list?

In [65]:
for num in numbers:
    if num%2==0:
        print(num)

12
8
4
2

### 17.	Write a Python program to print odd numbers in a List?

In [66]:
for num in numbers:
    if num%2!=0:
        print(num)

9
7
7
7
7
5
3
1

### 18.	Write a Python program to Remove empty List from List?

In [67]:
listA=["Hello","Hi",[],1,4,2,54,23]
listA.remove([])
print(listA)

['Hello', 'Hi', 1, 4, 2, 54, 23]

### 19.	Write a Python program to Cloning or Copying a list?

In [68]:
listB=[]
listB=listA.copy()
print(listB)

['Hello', 'Hi', 1, 4, 2, 54, 23]

### 20.	Write a Python program to Count occurrences of an element in a list?

In [69]:
lA=["Hello","Hi",1,1,4,2,54,"Aaryan",4,'Aaryan',23,"Hello","Aaryan"]
lA.count('Aaryan')

3

### 21.	Reverse a list in Python

In [70]:
print(lA[::-1])

['Aaryan', 'Hello', 23, 'Aaryan', 4, 'Aaryan', 54, 2, 4, 1, 1, 'Hi', 'Hello']

### 22.	Concatenate two lists index-wise

- Given:
- list1 = ["M", "na", "i", "Ke"]
- list2 = ["y", "me", "s", "lly"]
- Expected output: ['My', 'name', 'is', 'Kelly']

In [2]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3= [i + j for i,j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

### 23.	Turn every item of a list (user input) into its square

In [1]:
numlist=list(map(int, input('Enter Numbers: ').split(",")))
for i in numlist:
    print(i**2)

Enter Numbers:  23,45,67

529
2025
4489

### 24.	Concatenate two lists in the following order
Given:
- list1 = ["Hello ", "take "]
- list2 = ["Dear", "Sir"]
- Expected output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [6]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3= [i + j for i, j in zip(list1, list2)]

list4=list1[::-1]

list5 = [i + j for i, j in zip(list4, list2)]

list6=[list3+list5]
print(list6)

[['Hello Dear', 'take Sir', 'take Dear', 'Hello Sir']]

### 25.	Iterate both lists simultaneously
- Given:
- list1 = [10, 20, 30, 40]
- list2 = [100, 200, 300, 400]
- Expected output: 
10 400
20 300
30 200
40 100

In [8]:
lista = [10, 20, 30, 40]
listb = [100, 200, 300, 400]
listb=listb[::-1]

for i, j in zip(lista, listb):
    print(i, j)

10 400
20 300
30 200
40 100

### 26.	Remove empty strings from the list of strings: list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [15]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if i == "":
        list1.remove(i)
        print(list1)

['Mike', 'Emma', 'Kelly', '', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']

### 27.	Write a program to add item 7000 after 6000 in the following Python List [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [31]:
lst = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lst[2][2].insert(2, 7000)
print(lst)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### 28.	You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.
Given List:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
# sub list to add
sub_list = ["h", "i", "j"]
Expected Output: 
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [33]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].insert(2, sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

### 29.	You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.
Given: list1 = [5, 10, 15, 20, 25, 50, 20

In [9]:
list1 = [5, 10, 15, 20, 25, 50, 20]
a=list1.index(20)
list1.remove(20)
list1.insert(a, 200)
print(list1)

[5, 10, 15, 200, 25, 50, 20]

### 30.	 Given a Python list, write a program to remove all occurrences of item 20.
Given: list1 = [5, 20, 15, 20, 25, 50, 20]

In [13]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]

### 31.	Rotate the characters in a string by a given number (e.g., “hello” rotated by 2 becomes “lohel”).

### 32.	 Find the minimum and maximum values in a list of integers.

In [15]:
original_string = input("Enter Your String: ")
rn = int(input('Enter Rotation Index: '))
length = len(original_string)
r = rn % length

rotated_string = original_string[-r:] + original_string[:-r]
print(rotated_string)

Enter Your String:  AARYAN
Enter Rotation Index:  4

RYANAA

### 32.	 Find the minimum and maximum values in a list of integers.

In [18]:
list1 = [122,546,899,234,765,234,121,467,343,975,233]
print(max(list1))
print(min(list1))

975
121

### 33.	Implement a method to perform basic string compression using the counts of repeated characters. For example, the string aabcccccaaa would become a2b1c5a3.

In [21]:
string = input("Enter Your String: ")

compressed = ""
count = 1
for i in range(1, len(string)):
    if string[i] == string[i - 1]:
        count += 1
    else:
        compressed += string[i - 1] + str(count)
        count = 1

compressed += string[-1] + str(count)
print(compressed)

Enter Your String:  hhhhheeeeellllloooo wwwwoooorrrrllldd

h5e5l5o4 1w4o4r4l3d2

### 34.	Given two lists, write a program to find the intersection of these two lists.

In [25]:
list1 = ["Ryan", "Brad", "Edward", "Chris"]
list2 = ["Robert", "Tom", "Ryan", "Wong"]

intersection = [name for name in list1 if name in list2]
print(intersection)

['Ryan']

### 35.	 Sort a list of integers without using any built-in sort functions.

In [1]:
numbers = [64, 34, 25, 12, 22, 11, 90]

n = len(numbers)
for i in range(n):
    for j in range(0, n-i-1):
        if numbers[j] > numbers[j+1]:
            numbers[j], numbers[j+1] = numbers[j+1], numbers[j]

print("Sorted list:", numbers)

Sorted list: [11, 12, 22, 25, 34, 64, 90]